[Desktop Entry]
Version=1.0
Type=Application

Name=RimSort
Comment=Mod manager for Rimworld
Categories=Utility;Qt;

Icon=com.fxyoge.RimSort
Exec=RimSort.bin
Terminal=false
